html{
    height: 100%;
    background-color: #ffffff;
}

#head {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #38435b;
    position: fixed;
    top: 0;
    z-index: 111;
}

#head .logo{
    vertical-align: middle;
    margin-left: 30px;
    cursor: pointer;
    transition: width 0.5s;
}

#head .menu-item{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    height: 100px;
}

#head .right{
    float: right;
    padding: 0 30px;
}

#head .menu-item::after{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    bottom: 100%;
    right: 0;
    transition: .2s;
    z-index: -1;
}

#head .menu-item:hover::after{
    bottom: 0;
    background-color: #008aff;
}

#content {
    padding: 26px;
    margin-top: 100px;
    overflow: auto;
}

.card {
    background: #ffffff;
    border: 1px solid #EBEEF5;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.card:hover{
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
}

.currency-table-head-cell {
    font-size: 12px;
}

.el-slider__button{
    width: 10px;
    height: 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.cf:before, .cf:after{
    content: " ";
    display: table;
}

.cf:after{
    clear: both;
}

.custom-filter-range .el-select .el-input{
    width: 130px
}

